{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset your password
{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <div class="sign">
        <div class="container">
            <div class="row">
                <div class="bg-form">
                    <div class="sinheader">
                        <div class="col-md-6">
                            <a href="{% url 'home_page' %}">
                                <img src="{% static 'images/header/fav.png' %}" alt="">Wincle
                            </a>
                        </div>
                        <div class="sings col-md-6">
                            <a href="/accounts/register/">Sign up here</a> &nbsp;
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="sform">
                            <h1>Forgotten your password?</h1>
                            <span>Enter your email address to obtain a new password.</span>

                            <form class="sinup" action="" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="input-container">
                                    {{ field }}
                                    <i class="fa fa-envelope"></i>
                                </div>
                                {% endfor %}
                                <button type="submit" class="btn">Send email</button>
                                <div class="forgets">
                                    <a href="{% url 'accounts:password_change' %}">
                                        Change your password
                                    </a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}
