{% extends 'base.html' %}
{% load static %}

{% block title %}
    Change you password
{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <div class="sign">
        <div class="container">
            <div class="row">
                <div class="bg-form">
                    <div class="sinheader">
                        <div class="col-md-6">
                            <a href="{% url 'home_page' %}">
                                <img src="{% static 'images/header/fav.png' %}" alt="">Wincle
                            </a>
                        </div>
                        <div class="sings col-md-6">
                            <a href="{% url 'accounts:login' %}">Sign in here</a> &nbsp;
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="sform">
                            <h1>Change you password</h1>
                            <span>Hello there! Here you can change your password.</span>

                            {% if form.errors %}
                                <p class="badge-warning mt-3">Passwords didn't match. Please try again.</p>
                            {% else %}
                                <p class="badge-primary mt-3">Use the form below to change your password:</p>
                            {% endif %}

                            <form class="sinup" action="." method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="input-container">
                                        {{ field.label }}
                                        {{ field }}
                                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn">Change</button>
                            </form>

                        </div>
                    </div>
                    <div class="footer-sign">
                        <div class="p-left col-md-8 footermenu">
                            <ul>
                                <li><a href="#">About </a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}
