{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add image
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Banner -->
                {% include 'images/includes/banner.html' %}

                <div class="row">

                    <div class="col-md-12 mylisting">
                        <div class="col-md-12 col-xs-12">
                            <div class="sform">

                                <form action="." method="post">
                                    {% csrf_token %}
                                    <h1>Are you sure you want to delete <b>{{ image.title|title }}</b> image?</h1>
                                    <div class="mt-5 mb-5">
                                        <a href="{{ image.get_absolute_url }}" class="btn btn-dark">Cancel</a>
                                        <button type="submit" name="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.content-wrapper -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
