{% extends 'base.html' %}
{% load static %}

{% block title %}
    Image - {{ image.title }} Details
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="container-fluid">
            <!-- Banner -->
            <div class="row">
                <div class="messages text-center col-md-12">
                    Image "{{ image.title }}" Details
                    <p>posted on {{ image.created }}</p>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="row ml-1 mr-5">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="box-img">
                                {% load thumbnail %}
                                {% thumbnail image.image "300" as im %}
                                    <a href="{{ image.image.url }}">
                                        <img src="{{ im.url }}" class="image-detail">
                                    </a>
                                {% endthumbnail %}
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            {{ image.description|linebreaks }}
                            <!-- Likes -->
                            {% with total_likes=image.users_like.count %}
                                <div>
                                    <div>
                                        <h3>
                                            <span class="badge badge-pill badge-warning">
                                                {{ total_likes }} like{{ total_likes|pluralize }}
                                            </span>
                                        </h3>
                                        <span></span>
                                    </div>
                                </div>
                                <div>
                                    {% for user in image.users_like.all %}
                                        <div>
                                            <img src="{{ user.profile.photo.url }}" alt="">
                                            <p>{{ user.first_name }}</p>
                                        </div>
                                    {% empty %}
                                        <p>Nobody likes this image yet.</p>
                                    {% endfor %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comments -->
            <div class="messages col-md-12">
                <div class="col-md-8">
                    {% include 'images/includes/comments.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}