{% extends 'base.html' %}
{% load static %}

{% block title %}
    Image - {{ image.title }} Details
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="container-fluid">
            <!-- Banner -->
            <div class="row">
                <div class="messages text-center col-md-12">
                    Image "{{ image.title }}" Details
                    <p>posted on {{ image.created }}</p>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="row ml-1 mr-5">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="box-img">
                                {% load thumbnail %}
                                {% thumbnail image.image "300x300" as im %}
                                    <a href="{{ image.image.url }}">
                                        <img src="{{ im.url }}" class="image-detail">
                                    </a>
                                {% endthumbnail %}
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            {{ image.description|linebreaks }}
                            <!-- Likes -->
                            {% with total_likes=image.users_like.count users_like=image.users_like.all %}
                                <div>
                                    <div>
                                        <a href="#" data-id="{{ image.id }}"
                                           data-action="{% if request.user in users_like %}un{% endif %}like"
                                           class="like button btn btn-info">
                                            {% if request.user not in users_like %}
                                                Like
                                            {% else %}
                                                Unlike
                                            {% endif %}
                                        </a>
                                        <span class="count">
                                            <span class="total">{{ total_likes }}</span>
                                            like{{ total_likes|pluralize }}
                                        </span>
                                        <a href="{{ image.get_update_url }}" class="btn btn-outline-warning">Update</a>
                                        <a href="{{ image.get_delete_url }}" class="btn btn-outline-danger">Delete</a>
                                    </div>
                                </div>
                                <div>
                                    {% for user in image.users_like.all %}
                                        <div>
                                            <p>Users who liked your image:</p>
                                            <img src="{{ user.profile.photo.url }}" alt=""
                                                 style="height: 10%; width: 10%; border-radius: 50%;">
                                            <span>{{ user.first_name }}</span>
                                        </div>
                                    {% empty %}
                                        <p>Nobody likes this image yet.</p>
                                    {% endfor %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comments -->
            <div class="messages col-md-12">
                <div class="col-md-8">
                    {% include 'images/includes/comments.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}

{% block domready %}
    $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
    {
    id: $(this).data('id'),
    action: $(this).data('action')
    },
    function(data){
    if (data['status'] == 'ok')
    {
    var previous_action = $('a.like').data('action');

    // toggle data-action
    $('a.like').data('action', previous_action == 'like' ?
    'unlike' : 'like');
    // toggle link text
    $('a.like').text(previous_action == 'like' ? 'Unlike' :
    'Like');

    // update total likes
    var previous_likes = parseInt($('span.count .total').text());
    $('span.count .total').text(previous_action == 'like' ?
    previous_likes + 1 : previous_likes - 1);
    }
    }
    );
    });
{% endblock %}