{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add image
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Banner -->
                {% include 'images/includes/banner.html' %}

                <div class="row">

                    <div class="col-md-12 mylisting">
                        <div class="col-md-12 col-xs-12 ">
                            <div class="sform">

                                {% if form.errors %}
                                    <p class="badge-warning mt-3">{{ form.errors }}</p>
                                {% else %}
                                    <p class="badge-info mt-3">Please, use the following form to update an image:</p>
                                {% endif %}

                                <form class="sinup" action="." method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {{ field }}
                                    {% endfor %}
                                    <button type="submit" class="btn">Update</button>
                                </form>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.content-wrapper -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
