{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profiles
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="container-fluid">
            <!-- Banner -->
            <div class="row">
                <div class="messages text-center col-md-12">
                    Find Profiles
                    <hr>
                </div>
                <div class="left_side">
                    <div class="search-main">
                        <form>
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <input type="text" name="search" placeholder="Enter a keyword....">
                        </form>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6 p-left">
                        <div class="mainbox">
                            <div class="imgbox">
                                <img src="{% static 'images/product/01_liked_img.jpg' %}" alt="">
                            </div>
                            <div class="lefttext">
                                John Doe
                                <p>@johndoe</p>
                            </div>
                            <div class="righttext">
                                <a href="#">Like</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
