{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    My Dashboard
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Banner -->
                <div class="dashboard">
                    <div class="advertisment-banner1 col-md-12">
                        <img src="{% static 'images/banner/e-bg.jpg' %}" alt="" title="">
                    </div>
                    <div class="main-page">
                        <div class="dash-profile">
                            {% if request.user.profile.photo %}
                                <img src="{{ request.user.profile.photo.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/banner/h-dp.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="prompr">
                            <ul class="pull-right prof">
                                <li class="number">
                                    <a href="javascript:{% include "images/bookmarklet_launcher.js" %}"
                                       class="btn btn-warning">
                                        <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmark image</a>
                                </li>
                                <li class="number">
                                    <a href="{% url "account:update_profile" %}" class="btn btn-info">
                                        <i class="fa fa-edit" aria-hidden="true"></i> Edit Profile</a>
                                </li>
                                <li class="number" style="margin-left:-10px;">
                                    <a href="{% url "my_profile" %}" class="btn btn-info">
                                        <i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                                </li>
                            </ul>
                            <div class="dashname">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                                <p>@ {{ request.user.username }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>

                <div class="row">
                    <!-- Messages -->
                    <div class="container">
                        {% if messages %}
                            <ul class="alert alert-success" style="list-style-type: none;">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Pagination -->
                    {% if is_paginated %}
                        <div class="container">
                            {% include 'images/includes/pagination.html' %}
                        </div>
                    {% endif %}

                    <div class="container">
                        <div class="messages text-center col-md-12">
                            {% with total_images_created=request.user.images_created.count %}
                                <h4>You have bookmarked {{ total_images_created }}
                                    image{{ total_images_created|pluralize }}</h4>
                            {% endwith %}
                        </div>
                        <hr>
                    </div>

                    <div class="col-md-12 mylisting">
                        <div class="row ml-1 mr-5">
                            {% for image in images %}
                                <div class="col-md-3 col-xs-12">
                                    <div class="box">
                                        <a href="{{ image.get_absolute_url }}">
                                            {% thumbnail image.image "250x275" crop="100%" as im %}
                                                <a href="{{ image.get_absolute_url }}"> 
                                                    <img src="{{ im.url }}" alt="">
                                                </a>
                                            {% endthumbnail %}
                                            <div class="box-radius">
                                                {% if image.user.profile.photo %}
                                                    <img src="{{ image.user.profile.photo.url }}" class="img" alt=""
                                                         title="" style="height: 100%; width: 100%; border-radius: 50%;">
                                                {% else %}
                                                    <img src="{% static 'images/banner/h-dp.jpg' %}" alt=""
                                                         style="height: 100%; width: 100%; border-radius: 50%;">
                                                {% endif %}
                                            </div>
                                            <div class="box-heading3">{{ image.title }}</div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}
