{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Dashboard
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include 'includes/sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Banner -->
                <div class="dashboard">
                    <div class="advertisment-banner1 col-md-12">
                        <img src="{% static 'images/banner/e-bg.jpg' %}" alt="" title="">
                    </div>
                    <div class="main-page">
                        <div class="dash-profile">
                            {% if request.user.profile.photo %}
                                <img src="{{ request.user.profile.photo.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/banner/h-dp.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="prompr">
                            <ul class="pull-right prof">
                                <li class="number"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; +91 1234 567
                                    890
                                </li>
                                <li class="number"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Location
                                    here...
                                </li>

                                <li class="borders"><i class="fa fa-share-alt" aria-hidden="true"></i></li>
                                <li class="borders"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></li>
                            </ul>
                            <div class="dashname">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                                <p>@ {{ request.user.username }}</p>
                            </div>
                            <div class="likeds ml-2 mr-2">
                                <div class="likeright">
                                    <a href="{% url 'images:create' %}">Upload Image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>

                <div class="row">
                    <!-- Messages -->
                    <div class="container">
                        {% if messages %}
                            <ul class="alert alert-success" style="list-style-type: none;">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mylisting">
                        <div class="row ml-1 mr-5">
                            {% for image in images %}
                                <div class="col-md-3 col-xs-12">
                                    <div class="box">
                                        <a href="{{ image.get_absolute_url }}">
                                            <div class="box-img">
                                                <img src="{{ image.url }}" alt="">
                                            </div>
                                            <div class="box-radius">
                                                <img src="{{ image.user.profile.photo.url }}" class="img" alt=""
                                                     title="" style="height: 100%; width: 100%; border-radius: 50%;">
                                            </div>
                                            <div class="box-heading3">
                                                {{ image.title }} <i class="fa pull-right fa-heart-o"
                                                                     aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- Pagination -->
                {% if is_paginated %}
                    <div class="load_more">
                        {% include 'images/includes/pagination.html' %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
